<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Simple CRUD Example</title>
    <link href="~/css/bulma.css" rel="stylesheet" />
</head>
<body>

    @RenderBody()

    <script src="~/js/vue.global.prod.js"></script>
    <script src="~/js/axios.min.js"></script>
    <script src="~/js/api-calls.js"></script>
    <script src="~/js/app.js" defer></script>
</body>
</html>